<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online LaTex Editor</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/image-upload.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/editor.js')}}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body style="font-family: Bentham" class="flex flex-col grow items-center gap-5 my-5 h-screen">
        <h1 class="content-center text-center text-6xl bg-pink-600 text-white w-5/6 p-3 rounded-md">LazyTex</h1>
        <section class="flex flex-row w-5/6 justify-between flex-1 h-screen gap-2">
            <div id="image-file-container" class="inline-block border-3 w-1/4 rounded-md">
                <h2 class="text-center text-3xl bg-pink-300">Images</h2>
                <input type="file" accept=".png, .jpg, .jpeg" id="img-input" class="w-40">
            </div>
            <div id="left-box" class="relative w-3/8">
                <textarea id="editor" class=" absolute top-0 caret-black left-0 outline-none z-2 w-full h-full p-1 overflow-scroll-auto text-transparent" style="resize:none; font-family: monospace;" spellcheck="false"></textarea>
                <pre>
                    <code class="absolute top-0 left-0 w-full h-full rounded-md p-1 border-3" style="font-family: monospace;"></code>
                </pre>
            </div>
            <iframe id="loaded-pdf" class="border-3 w-3/8 rounded-md">asda</iframe>
        </section>
        <div class="flex gap-40">
            <button type="submit" id="compile" class="rounded-md bg-pink-200 hover:bg-pink-400 p-1">Compile</button>
            <button type="submit" id="export" class="rounded-md bg-pink-200 hover:bg-pink-400 p-1">Export</button>
        </div>
    </body>
</html>